form{
  width: 20vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 3%;
  border: 2px solid black;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

form *{
  margin: 3% 0 ;
}